@require './theme.styl';

$BorderColor = $BodyInputBorderColor
$InputBackground = $BodyInputBackground

.body-main
    display: grid
    margin-left: 42px
    padding-top: 48px
    grid-template-rows: 52px auto

    .description
        font-family: $MainFont
        font-weight: bold
        color: $FontColor
    
    .menu
        display: grid
        grid-template-columns: 101px 238px
        grid-auto-rows: 25px auto
        grid-column-gap: 69px

        label
            font-family: $MainFont
            font-size: 12px
            font-weight: bold

            color: $FontColor
        
        select
            height: 30px
            border-radius: 3px
            border: 1px solid $BorderColor
            background: $InputBackground