@require './theme.styl'

$background = $SearchBackground
$color = $SearchColor

.search-main
    background: $background
    display: grid
    align-items: center
    padding-left: 42px
    grid-template-columns: 50px auto

    input
        color: $color

        background: transparent
        opacity: 0.5949

        font-family: $MainFont
        font-size: 14px
        font-style: italic

        border: none

        &:focus
            outline: none