$MainColor = #00BDFF
$MainFont  = Ubuntu
$FontColor = #687B82
$SecondaryColor = #3D484C
$LightColor = #87969C
$FavColor = #e31b23

$SearchBackground = #F3F6F7
$SearchColor = rgba(0,0,0,.5949)

$BodyInputBorderColor = #E8EEF1
$BodyInputBackground = transparent